In [2]:
import pyodbc
import pandas as pd
import numpy as np
import pyMechkar

ModuleNotFoundError: No module named 'pyMechkar.Table1'

In [5]:
### In windows, Using a ODBC DNS (predefined connection name)
import pyodbc
conn = pyodbc.connect ("DSN=RenewableEnergy;"
                      "Server=DESKTOP-AAGNMGA\SQLEXPRESS;"
                      "Database=RenewableEnergy;"
                      "Trusted_Connection=yes;")

In [9]:
df = pd.read_sql("SELECT * FROM Energy_flatfile;",conn)
df.head()

DatabaseError: Execution failed on sql 'SELECT * FROM Energy_flatfile;': ('HY000', '[HY000] no such table: Energy_flatfile (1) (1) (SQLExecDirectW)')