# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [1]:
t = [1,2,3,4,5,6,7,8,9,10]
t

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Append to the list the number 20

In [2]:
t.extend(range(11,21))
t

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

3. Insert two zeros after the fourth place of the list

In [4]:
t.insert(5,0)
t

[1, 2, 3, 4, 5, 0, 0, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

4. Sort the list in reverse order

In [5]:
t.sort(reverse=True)
t

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0]

5. Remove the last two items from the list

In [7]:
t.pop()
t

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

6. Invert the order of the list

In [8]:
t.reverse()
t

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

7. How many items has the list?

In [10]:
len(t)

20

8. Give the minimum, maximum and the sum of all the items in the list

In [18]:
print("min is: %s - max is: %s" % (min(t),max(t)))

min is: 1 - max is: 20

9. What will happen if you multiply the list by 2?

Multiplying the list will show the list twice

In [22]:
t * 2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20]

10. Can you divide the list by 3?

In [ ]:
yes - by creating new list

In [29]:
myInt = 3
newList = [x / myInt for x in t]
newList

[0.3333333333333333,
 0.6666666666666666,
 1.0,
 1.3333333333333333,
 1.6666666666666667,
 2.0,
 2.3333333333333335,
 2.6666666666666665,
 3.0,
 3.3333333333333335,
 3.6666666666666665,
 4.0,
 4.333333333333333,
 4.666666666666667,
 5.0,
 5.333333333333333,
 5.666666666666667,
 6.0,
 6.333333333333333,
 6.666666666666667]

# Tupples
 
1. Create a tupple with three characters and four numbers

In [37]:
z = ('a','b','c',1,2,3,4)
z

('a', 'b', 'c', 1, 2, 3, 4)

2. Append two booleans (false, true) to the tupple

In [38]:
z = z + (False,True)
z

('a', 'b', 'c', 1, 2, 3, 4, False, True)

3. Retrieve the third to sixth items from the tupple

In [40]:
z[2:7]

('c', 1, 2, 3, 4)

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [65]:
y = list(z[0:3])
y
w = list(z[3:7])
w
v = list(z[7:])
v
u = (y,w,v)
u

(['a', 'b', 'c'], [1, 2, 3, 4], [False, True])

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

In [110]:
a = "Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
a = a.split(' ')
b = set(a)
b

{'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'object.',
 'of',
 'original',
 'that',
 'the',
 'values'}

2. Do you see something wierd in this set? What? How can you prevent that?

In [111]:
# the word "object" appears twice. 
#Importing re module than re-spliting the list by ' ' and '.'
#Than creating a set

import re
a = "Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
a = re.split(r'[ .]', a)
b = set(a)
b

{'',
 'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'of',
 'original',
 'that',
 'the',
 'values'}

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

In [1]:
myDict = {1020:['Harry Smith','Sales Manager','030-223.65.44'],
          2201:['Margaret Holsum','Sales Representative','030-223.64.12'],
          3320:['Lasly Howard','Human Resources','030-223.83.33'],
          8111:['Larry Johnson','Project Manager','030-224.22.00'],
          2733:['Hellen Young','Customer Service','030-223.03.20']
         }
myDict

{1020: ['Harry Smith', 'Sales Manager', '030-223.65.44'],
 2201: ['Margaret Holsum', 'Sales Representative', '030-223.64.12'],
 3320: ['Lasly Howard', 'Human Resources', '030-223.83.33'],
 8111: ['Larry Johnson', 'Project Manager', '030-224.22.00'],
 2733: ['Hellen Young', 'Customer Service', '030-223.03.20']}

1. Get all the keys of the dictionary

In [2]:
myDict.keys()

dict_keys([1020, 2201, 3320, 8111, 2733])

2. Get all the values of the dictionary

In [3]:
myDict.values()

dict_values([['Harry Smith', 'Sales Manager', '030-223.65.44'], ['Margaret Holsum', 'Sales Representative', '030-223.64.12'], ['Lasly Howard', 'Human Resources', '030-223.83.33'], ['Larry Johnson', 'Project Manager', '030-224.22.00'], ['Hellen Young', 'Customer Service', '030-223.03.20']])

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

In [5]:
myDict[8111]

['Larry Johnson', 'Project Manager', '030-224.22.00']

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

In [127]:
for Number in range (1, 101):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97

2. Write a different solution to the problem in the last question, but using while.. in place of for..

In [128]:
Number = 1

while(Number <= 100):
    count = 0
    i = 2
    
    while(i <= Number//2):
        if(Number % i == 0):
            count = count + 1
            break
        i = i + 1

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')
    Number = Number  + 1

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97